@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: rgb(236, 236, 236);
    --error-red: rgb(169, 1, 1);
    --active-border: #6f94df;
    --dark-green: #596D48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf");
  }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

div.main-container {
    height: 100vh;
    width: 1440px;
    display: flex;
}

/* left side of site */
div.left-container {
    color: var(--white);
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    min-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 130px;
    padding: 15px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

div.overlay-content h1 {
    font-family: 'Norse Bold', sans-serif;
    font-size: 3em;
}

div.overlay-content img {
    max-width: 3rem;
}

div.left-container footer {
    font-size: 0.6em;
    margin-bottom: 10px;
}

div.left-container footer, a {
    color: inherit;
}

/* right side of site */

div.right-container {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
}

div.top-section {
    padding: 90px 200px 40px 50px;
}

div.top-section p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

div.top-section p:last-child {
    margin-top: 20px;
}

div.mid-section {
    background-color: var(--white);
    width: 100%;
    padding: 20px 0 30px 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

div.mid-section p {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6rem;
    padding-bottom: 20px;
}

div.mid-section > form {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 15px 50px;
}

form > div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: .7rem;
    letter-spacing: .1rem;
    line-height: 1.05rem;
}

input {
    padding: 5px 5px;
}

input:invalid {
    border: none;
    outline: .02rem solid var(--error-red);
    border-radius: 2px;
}

input:focus {
    border: none;
    outline: .07rem solid var(--active-border);
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
}

div.bottom-section {
    padding: 30px 50px;
}

div.bottom-section button {
    background-color: var(--dark-green);
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.06rem;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
}

div.bottom-section p {
    font-size: 1rem;
    margin-top: 20px;
}

div.bottom-section a {
    color: var(--dark-green);
    font-weight: 700;
    text-decoration: none;
}

/* 
Need to add the JS for checking password is matched 
if not add the message of invalidity
Need to make responsive for different window sizes
 */